$dark-blue: #232536;
$light-blue: #444cfc;
$blue66: #666dff;
$orange: #ffa155;
$grey: #5d5f6d;
$molochniy-1: #ffd3af;
$molochniy-2: #ffe6d2;
$molochniy-3: #FFDFC6;
$sky-color: #ecf8f9;
$e5e5: #e5e5e5;
$f9f9: #f9f9ff;
$whiteff: #FFFFFF;
$rem-base: 16px;