@use "../abstracts/variables" as var;

.toggle__list {
    position:fixed;
    top: -50%;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 100;
    transition: .7s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}
.toggle {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: flex-start;
    &__items {
        display: flex;
        flex-direction: column;
        gap: 24px;
        a {
            text-decoration: none;
            font-size: 16px;
            color: black;
            &:hover {
                color: red;
            }
        }
    }
}

nav {
    padding-top: 16px;
    padding-bottom: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.10);
}

.navbar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;

    &_left {
        display: flex;
        align-items: center;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 16px;
            & > p {
                color: black;
                font-size: 18px;
                font-weight: 700;

            }
        }
        .desktop-btn,
        .mobile-btn {
            display: flex;
            align-items: center;
            margin-left: 32px;
            padding: 9px 20px;
            gap: 16px;
            background-color: #70C05B;
            border: none;   
            border-radius: 4px;
            & > p {
                font-size: 16px;
                color: #FFFFFF;
            }
            & > i {
                color: #FFFFFF;
            }
            cursor: pointer;
        }
        .mobile-btn {
            display: none;
        }
    }
    &_right {
        display: flex;
        align-items: center;
        gap: 32px;
        .product__item {
            position: relative;
            span {
                position: absolute;
                top: -10px;
                right: 4px;
                display: inline-block;
                border-radius: 50%;
                min-width: 14px;
                min-height: 14px;
                padding: 4px;
                background: red;
                color: white;
                text-align: center;
                line-height: 1;
                box-sizing: content-box;
                white-space: nowrap;
                font-size: 12px;
            }
            span:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                padding-top: 100%;
                height: 0;
            }
        }
        .product__item a{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 4px;
            i {
                font-size: 18px;
            }
            p {
                font-size: 12px;
            }
            cursor: pointer;
        }
        
        .person{
            margin-left: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            & > i {
                margin-left: 10px;
            }
        }
    }
}

.search {
    margin-left: 16px;
    position: relative;
    flex-grow: 1;
    input {
        width: 100%;
        font-size: 16px;
        padding: 8px 16px;
        outline: none;
        border: 2px solid #70C05B;
        border-radius: 4px;
    }
    i {
        position: absolute;
        top: 30%;
        right: 5%;
    }
}

.mobile-btn {
    display: none;
}



@media (max-width: 1000px) {
    .navbar {
        &_left {
            a {
                p {
                    display: none;
                }
            }
            .desktop-btn {
                display: none;
            }
        }
        .mobile-btn {
            display: block;
            padding: 8px 9px;
            margin-left: 20px;
            i {
                font-size: 20px;
            }
        }
    }

}


@media (max-width: 768px) {
    .navbar {
        grid-template-columns: 1.5fr 1fr;
        &_right {
            .person {
                p,i {
                    display: none;
                }
            }
        }
    }   

    // dropdown
    .toggle {
        grid-template-columns: 1fr 1fr;
        justify-content:space-between;
    }
}

@media (max-width: 600px) {
    .navbar {
        display: block;
        &_left {
            .mobile-btn {
                display: none;
            }
        }
        &_right {
            display: none;
        }
    }

    // dropdown 
    .toggle {
        display: none;
    }
}

